{% extends 'baselayout.html' %}
{% load static %}

      

<body>
    {% block content %}
 

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <small>Us</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static 'affiliate/images/gamingdesk.png' %}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About Lapimade tech</h2>
        <p>
          Welcome to lapimade.tech <br> 
          lapimade.tech is a web app designed to help you gain a quick access to the 
          particular system that you need without having to waste awful amount 
          of time trying to research on the computer to get for a particular 
          need.
          We have made it easy for you so that you can focus on what is more important
          because time is money.

        </p>
        <p>
          We constantly provide you with the latest info as regards new happenings around the
          world of technology . 
          Our team of professionals are always looking for the best in terms of 
          capacity, performance and cost effectiveness.
          There by providing you with the best quality computer and computer accessories at 
          the best price .
        </p>
        <p>
          lapimade.tech has a partnership with the biggest ecommerce store in the world
          (Amazon) We choose amazon because of the reputation which it has maintained over the
          the years. 
          so if you are looking for a certain type of  system for a particular career path or 
          for entertainment or even for an up grade. 
          you have come to the right place.
          We are confident that you can never regret buying any of the products that we recommend
          Thank you for giving us the opportunity to serve you, for we are 
          more than happy to help make things easier for you.
         </p>
      </div>
    </div>
    <br>
    <br><br><br><br>
    <!-- /.row -->

    <!-- Team Members -->
    <!-- <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
    </div>
    /.row -->

    <!-- Featured laptops -->
    <!-- <h2>Featured laptops</h2>
    <div class="row">
      
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="not">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="not">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="not">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="not">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="not">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="">
      </div>
      

    </div> -->
    <!-- /.row -->

  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
 
  <!-- Bootstrap core JavaScript -->
  {% endblock %}
  
</body>

