{% extends 'baselayout.html' %}
{% load static %}





      

<body>
    {% block content %}
 


  <!-- Page Content -->
<div>
    <img class=" mb-4 header-image" src="{% static 'affiliate/images/img5.jpeg' %}" alt="">
</div>


  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
   
    

    <ol class="breadcrumb ">
      <li class="breadcrumb-item text-center">
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">BizTech</li>
    </ol>

    <!-- Intro Content -->
    <!-- <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static 'affiliate/images/gamingdesk.png' %}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About Lapimade tech</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt,
            harum nisi dolores delectus reprehenderit voluptatem perferendis
             dicta dolorem non blanditiis ex fugiat.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           Saepe, magni, aperiam vitae illum voluptatum aut sequi 
           impedit non velit ab ea pariatur sint quidem corporis eveniet. 
           Odit, temporibus reprehenderit dolorum!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et,
           consequuntur, modi mollitia corporis ipsa voluptate corrupti eum
            ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti 
            necessitatibus perspiciatis quis?
        </p>
      </div>
    </div> -->
    
    <!-- /.row -->

    <h2>Business Laptops</h2> 
    <br><br>
    <!--  <h2>Our Team</h2>  -->

    <div class="row">
        {% for lapi in bizproducts %}
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="" alt="">
          <a href="{{ lapi.amz_link}}"><img class="card-img-top" src="{{lapi.img.url}}" alt=""></a>

          <div class="card-body">
            <h4 class="card-title">{{lapi.name}}</h4>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text">{{lapi.shotend_desc}}</p>
          </div>
          <div class="card-footer">
            <a href="{{lapi.amz_link}}">{{ lapi.price }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
      
     
      
    </div>
    <!-- /.row --> 

    <!-- Featured laptops -->
    <!-- <h2>Featured laptops</h2> -->

    <h3>Featured Accessories</h3>
    <div class="row">
      
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="img">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="img">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="img">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="img">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="img">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{{product.img.url}}" alt="img">
      </div>
      

    </div> 
    <!-- /.row -->

  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
 
  <!-- Bootstrap core JavaScript -->
  {% endblock %}
  
</body>




