{% extends 'baselayout.html' %}
{% load static %}




<body>
  


 

  <!-- Navigation
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">LapiMade.tech</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'blog' %}" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="{% url 'blog' %}l">Blog Post</a>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </nav> -->
  {% block content%}
   
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <a href="{% url 'about' %}"><li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">click</li></a>
        <a href=""><li data-target="#carouselExampleIndicators" data-slide-to="1">click</li></a>
        <a href=""><li data-target="#carouselExampleIndicators" data-slide-to="2">click</li></a>ty1--3=[-\U ]
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
       
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/img5.jpeg' %}')">
          <div class="carousel-caption d-none d-md-block special-text">
            <h3>Business Pc's And Accessories</h3>
            <p>...</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        
           <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/gamingdesk.png' %}')">
            <div class="carousel-caption d-none d-md-block special-text">
              
              <h3>A Home For Gamers</h3>
              <p>Best Gaming Pc's And Accessories</p>
            
            </div>
           </div>
        

        <!-- Slide Three - Set the background image for this slide in the line below -->
        
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/gigshow.jpeg' %}')">
          <div class="carousel-caption d-none d-md-block special-text">
            <h3>Stop Searching Focus on what is important</h3>
            <p>Machine For Geeks</p>
          </div>
        </div>
      </div>
    
      
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
  <!-- 33################### -->
  <!-- <iframe width="1108" height="623" src="https://www.youtube.com/embed/5WcKiOWV4lY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <!-- 33################### -->
  <!-- Page Content -->
  <!--  ((((((((((((((((((((((0))))))))))))))))))))))))))-->
  <!-- ((((((((((((((((the jubotrum)))))))))))))))) -->

  <section id="sectionone divider">
  <div class="container divider ">

    

    <!-- /.row -->
     <!-- list items sections ******************************************* -->
    <!--  -->
    <!-- featured products section-->
    
    <h2 class="text-center header-text">Get Exactly What You Need, Focus On What Is Important. </h2>
    <h5 class="text-center"> We have done the hard part for you, computers and accessories,  Hand picked by our prfessionals to suite 
      your absolute need
    </h5><hr><br>

    <!-- *********************************** -->
    <div class="row first-section text-center">
      
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <!-- <div class="card h-100"> -->
          <a href="{% url 'gamezone' %}"><img class='small-img' src="{% static 'affiliate/images/gamezone.png' %}" style=""img></a>
  
          <div class="card-body">
            <h4 class="card-title card-style">
              Gamers Pc and Accessories
            </h4>
            <p class="card-text">A hand pick of the best gaming desktop pc's  laptops and accessories 
            we have done the work for you.
            don't let a bad machine ruin your fun
            </p>
            <!-- <a href="{% url 'gamezone' %}"><button type="button" class="btn btn primary">View</button></a> -->
          </div>
        <!-- </div> -->
      </div>
      
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <!-- <div class="card h-100"> -->
  <a href="{% url 'gigzone' %}"><img class='small-img' src="{% static 'affiliate/images/gigzone.png' %}" style=""></img></a>
  
          <div class="card-body " id="card-style">
            <h4 class="card-title card-style">
              Specific Laptops For Geeks
            </h4>
            <p class="card-text"> having the right machine for the right job 
              couldn't make your life more easier, maximum productivity is key
              we have got you covered with the most efficient pc even with a low 
              budget.
            </p>
            <!-- <a href="{% url 'gigzone' %}"><button type="button" class="btn btn primary">View </button></a> -->

          </div>
        <!-- </div> -->
      </div>

      <div class="col-lg-4 col-sm-6 portfolio-item">
        <!-- <div class="card h-100"> -->
          <a href="{% url 'bizzone' %}"><img class='small-img' src="{% static 'affiliate/images/bizzone.png' %}" style=""></img></a>
  
          <div class="card-body">
            <h4 class="card-title card-style">
           Business Specific Laptops
            </h4>
            <p class="card-text  ">
              when it comes to choosing the right laptop for business its often 
              over whelming, we have made the selection for you focus on what is important
            </p>
            <!-- <a href="{% url 'bizzone' %}"><button type="button" class="btn btn primary">View </button></a> -->

          </div>
        <!-- </div> -->
      </div>

      <hr>
    </div>  
    <br>
    
  </section>
    <!-- *(***********************************)  -->

    <section id="section-jumbo1">
      <div class="row container divider">

        <div class="col-lg-8 ">
        <a class="special-text" href="https://amzn.to/3etmtB0">
         <img class="jumbo-image" src="{% static 'affiliate/images/gamingchair2.jpg' %}" alt="">
        </div>
         <div class="col-lg-4">
          <h2>Gaming Chair</h2> 
        </a>
          <p><strong>High Back Desk Chair Headrest and Massage Lumbar Support Cushion</strong> </p>
         
          <p>★HIGHT-QUALITY: Solid integrated metal frame, international standard gas lift, aluminum alloy 5-star game chair base were all designed for the purpose of better stability 
            ★HIGH-SECURITY: Strong metal frame designed to help promote a comfortable seated position, keeping you comfy after long hours of game or work. Thick padded back & seat make this chair more comfortable 
            ★MULTI-FUNCTION: Seat adjustable height, 90-160° reclining and rocking, 360° swivel, 5-point base built with heavy duty, smooth-rolling casters, removable headrest pillow and massage lumbar cushion  </p>
            
            <h4>Customer Review</h4>
            <p>
              Terence T. Soler
              5.0 out of 5 stars
              Awesome chair from a great seller 
              Reviewed in the United States on March 30, 2020
              Verified Purchase
              The chair is very comfortable and easy to assemble. No tools required, it comes with everything you need. The chair back came ripped. I contacted the seller and they immediately shipped me out a new back. They were quick and courteous. Would definitely reccomend this chair</p>
          </div> 
      
         
    </div>
  </section>  


 
  

  <section id="section2">
    <div class="container">
      <!-- featured products section -->
      <ol class="breadcrumb ">
        <li class="breadcrumb-item">
          <a href="#"></a> 
        </li>
      <a href="#"> <li class="breadcrumb-item active"><h2 class="featured-products" >Featured Products</h2></li></a>
      </ol>
        <div class="row">
          {% for product in products %}
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <!-- <div class="card h-100"> -->
              <a href="{{ product.amz_link}}"><img class="card-img-top" src="{{product.img.url}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title"><hr>
                  <a href="{{ product.amz_link}}">{{product.name}}</a>
                </h4>
                <p class="card-text">{{product.shotend_desc}}</p>
                <a href="{{ product.amz_link}}" target="blank"><button type="button"  class="btn btn-lg btn-color btn-block">${{product.price}}</button></a>
              </div>
            <!-- </div> -->
          </div>
          {% endfor %} 
          <hr>
        </div>  
        <br>
        <hr>
    </div>
  </section>
    <!-- /.row -->

  <section id="section3">
    <div class="row">
       <div class="col-lg-4">
        <!-- <h2>Modern Business Features</h2> 
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
          <li>
            <strong>Bootstrap v4</strong>
          </li>
          <li>jQuery</li>
          <li>Font Awesome</li>
          <li>Working contact form with validation</li>
          <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>-->
      </div> 
      <div class="col-lg-8">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_search_bar = "true";
          amzn_assoc_tracking_id = "lapimade-20";
          amzn_assoc_search_bar_position = "bottom";
          amzn_assoc_ad_mode = "search";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_title = "Shop Related Products";
          amzn_assoc_default_search_phrase = "gaming laptops";
          amzn_assoc_default_category = "All";
          amzn_assoc_linkid = "f79520c7a2d4ab5f762855d1ec40e95d";
          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <!-- <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
      </div>
    </div> -->

  </div>
</section>
  <!-- /.container -->

  <!-- Footer -->
  <!-- <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; lapimade.tech 2019</p>
    </div>
    
  </footer> -->

  <!-- Bootstrap core JavaScript -->
 
  {% endblock %}



  
</body>

